* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-dark: #333;
  --main-light: white;
  --blue-comics: #0C7CEC;
  --green-select: rgb(29, 207, 29);
  --appmain-anchortags: #887A7C;
}

body {
  background-color: black;

  & a:hover {
    cursor: pointer;
  }


}

header,
main,
footer {
  & .container {
    width: 80%;
  }
}